*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register {
    width: 400px;
    background: #4285F4;
    padding: 30px;
    margin: 100px auto auto;
    border-radius: 4px;
    font-family: 'calibri', serif;
    color: white;
    }

.form-register h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #FFFF;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 26px;
    border: 1px solid #34A853;
    font-family: 'calibri', serif;
    font-size: 18px;
    }

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #FBBC05;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

.form-register .botons:hover {
    background: #EA4335;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
}
